<a href="https://colab.research.google.com/github/ravi-prakash1907/crime-in-kerala/blob/main/notebook/Crime_in_Kerala.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
fName = 'crimeInKerala.csv'
df = pd.read_csv(fName)

---

In [ ]:
df.head()

                                  Crime Head  Total Count
0  Offences Affecting the Human Body (Total)      1443596
1          Offences against Property (Total)      1200676
2            Miscellaneous IPC Crimes(Total)      1070805
3                                     Thefts      1502991
4                                       Hurt       702640

In [ ]:
df.shape

(134, 2)

### Exploring (EDA)

In [ ]:
# bulk data
totalCols = [col for col in list(df['Crime Head']) if '(Total)' in col]
totals = df[df['Crime Head'].isin(totalCols)]
totals

                                            Crime Head  Total Count
0            Offences Affecting the Human Body (Total)      1443596
1                    Offences against Property (Total)      1200676
2                      Miscellaneous IPC Crimes(Total)      1070805
9    Offences Relating to Documents & Property Mark...       287768
24        Offences against Public Tranquillity (Total)       106050
106                 Offences against the State (Total)          827

In [ ]:
totals.to_csv('totalCrimes.csv',index=False)

In [ ]:
# secondry data
otherCols = [col for col in list(df['Crime Head']) if 'Other' in col]
others = df[df['Crime Head'].isin(otherCols)]
others

                       Crime Head  Total Count
22                Other Accidents       120455
42                   Other Frauds        30300
43                  Other Forgery        30101
48                   Other Places        23040
49   Other Kidnapping & Abduction        20833
64              Other Simple Hurt         8822
94            Other Grievous Hurt         1642
113                        Others          598

In [ ]:
others.to_csv('otherCrimes.csv',index=False)

In [ ]:
uniqueCols = list(set(df['Crime Head']) - set(otherCols).union(set(totalCols)))
len(uniqueCols)

117

In [ ]:
uniqueCrimes = df[df['Crime Head'].isin(uniqueCols)]
uniqueCrimes.to_csv('uniqueCrimes.csv',index=False)

---